
:root {
   
    --color-de-fondo: #F5F5F5;
    --color-de-link: #a8a9b4;  
    --color-title:#173b6c;
    --color-parrafo:#222222;
    --color-header:#040b14;
    --color-hover: #149ddd ;
}
html
body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;
    padding: 0;

}

ol,
ul,
li {
    align-items: center;
    margin-right: 2rem;
    list-style: none;
    margin-bottom: 1rem;


}

a {
    text-decoration: none;
    color: var(--color-de-link);
    font-size: 1.3rem;
}
a:hover{
    color: var(--color-hover);
}

/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (max-width: 425px) {

  a{
    font-size: 1rem;
  }  

}