/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --color-de-fondo: #F5F5F5;
    --color-de-link: #a8a9b4;  /* #272829*/
    --color-title:#173b6c;
    --color-parrafo:#222222;
    --color-header:#040b14;
    --color-hover: #149ddd ;
}
html
body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;
    padding: 0;

}

ol,
ul,
li {
    align-items: center;
    margin-right: 2rem;
    list-style: none;


}

a {
    text-decoration: none;
    color: var(--color-de-link);
    font-size: 1.3rem;
}
a:hover{
    color: var(--color-hover);
}



/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

    section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    background-color: var(--color-header);

    

}
.menu__title{
    font-size: 2rem;
    color: var(--color-de-fondo);

}


.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.2rem;
}
.menu__container {
    display: none;
  }
  
/*Sección Title*/

section.title {
    color:var(--color-parrafo);
    font-size: 1.4rem;
    padding: 0 5rem;
    margin-top: 1rem;

    
}

.title__div {
    display: flex;
    justify-content: space-between;
}

.title__profile {
    width: 30%;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}
.title__profile:hover{
    box-shadow: 0 0 2rem var(--color-hover);
}

.title__network {
    display: flex;
    padding: 0;
    margin-top: 3rem;
}
section.about {
    display: flex;
    padding: 0 5rem;
    font-size: 1.2rem;
    width: 70%;
    padding: 2.6rem 5rem;
   
}
.about__title{
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
}

.about__paragraph {
    text-align: justify;
    line-height: 1.7;
}
section.skills{
    padding: 5rem;


}


.skills__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
    margin-bottom: 3rem;
}

.skills__line {
    display: flex;
    justify-content:space-around;
}

.skills__box {
    display: inline-block;
    max-width: min-content;
    text-align: center;
    background-color: white;
    padding-bottom: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.awesome_icons{
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
    font-size: 2.3rem;
    color: var(--color-hover);
    margin-bottom: 1rem ;
    
}
.skills__name{
    margin-left: 1.4rem;

   
}
/*Sección Hobbies*/

section.hobbies {
    padding: 5rem;

}


.hobbies__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
    margin-bottom: 3rem;

}

.hobbies__line {
   display: flex;
   justify-content: space-between;
}

.hobbies__box {
    display: inline-block;
    max-width: min-content;
    text-align: center;
    background-color: white;
    padding-bottom: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  


}
.hobbies__name{
    padding-left: 1.5rem;
    
}

/* Experiencia Académica*/

section.academic {
    padding: 0 5rem;
    background-color: var(--color-de-seccion);
}

.academic__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
    padding-bottom: 3rem ;
    margin-left: 5rem;
}

.academic__courses {
    display: flex;
    justify-content: space-around;
    align-items: baseline;


}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.academic__courses__item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 1rem;

}

.academic__courses__item__title {
    text-align: center;
    color: var(--color-title);
    flex:0 0 auto;
    font-size: 20px;
    margin-top: 5rem;
}

.academic__courses__item__subtitle {
    text-align: center;
    flex:0 0;
    font-size: 16px;
}



/* experiencia*/

section.experience {
    padding: 5rem;
   
}

.experience__section__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
    padding-top: 1rem;

}

.experience__info {
    text-align: center;
}
.experience__title{
    color: var(--color-title);

}
.experience__text{
    color: var(--color-parrafo);
    font-size: 16px;

}

.experiencie__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

.experience__img {
    width: 60%;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
   

}

.experience__img_banco {
    margin-left: 8rem;
    width: 433px;
    height: 577px;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: white;

}


/*Contacto*/

section.formcontato {
    padding: 5rem;
    background-color: var(--color-de-fondo);
}

.formcontato__contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.formcontato__text {
    text-align: left;
    margin-bottom: 3rem;
    width: 30%;
}

.formcontato__title {
    font-size: 32px;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
    margin-bottom: 1rem;
}

.formcontato__subtext {
    font-size: 15px;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 20px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.formcontato__input,
.formcontato__textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formcontato__textarea {
    resize: vertical;
}

.formcontato__botao {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.formcontato--esquerda{
    text-align: left;
    margin-bottom: 3rem;
    width: 50%;
   
}
.map{
    max-height: 17rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: none;
    color: #ffffff;
    background-color:var(--color-header);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:var(--color-hover);
}


/*footeer*/

section.footer {
    background-color: var(--color-header);
    box-sizing: border-box;
    padding: 0 5rem;

}

.footer {
    display: flex;
    justify-content: center;
}

.footer__rodape {
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.5;
    color: var(--color-de-link);
    padding: 3rem;
}



/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}