section.formcontato {
    padding:2rem 5rem;
    background-color: var(--color-de-fondo);
}
.formcontato__contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media(max-width:768px){
    section.formcontato{
        padding: 1rem;

    }
   
}
@media(max-width:425px){
    section.formcontato{
        padding: 1rem;
    }
    .formcontato__contacto {
        flex-direction: column;
    }
   
}