.input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  .input-message-error {
    display: none;
  }
  .input-container--invalid .input-message-error {
    color: red;
    display: block;
    padding-left: .5rem;

  }

.formcontato__input,
.formcontato__textarea {
    width: 90%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

.formcontato__botao {
    width: 97%;
    padding: .5rem;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


@media(max-width:768px) {
   

    .formcontato__input,
    .formcontato__textarea {
        width: 100%;
    }
    .formcontato__title {
        text-align: left;
        
    }
}
@media(max-width:425px){
    .formcontato__form {
        justify-content: center;
    }
    .formcontato__input,
    .formcontato__textarea {
        width: 90%;
    }
    .formcontato__botao{
        width: 99%;
    }
  
    
   
   
    
}