.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.formcontato__input,
.formcontato__textarea {
    width: 50%;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formcontato__textarea {
    resize: vertical;
}

.formcontato__botao {
    width: 10rem;
    padding: .5rem;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.formcontato--esquerda{
    text-align: left;
    margin-bottom: 3rem;
    width: 50%;
   
}

@media(max-width:768px) {
    .formcontato__contacto {
        justify-content:space-between;
        align-items: flex-start;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 100%;
    }
    .formcontato__title {
        text-align: left;
        
    }
}
@media(max-width:425px){
    .formcontato--esquerda{
        margin-bottom: 3rem;
        width: 100%;
    }
    
   
   
    
}