.awesome_icons{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: var(--color-hover);
    
}

@media(max-width:425px){
    .iconRedes{
        font-size: 1.5rem;
  }
  .awesome_icons{
    font-size: 2rem;
  }

}