.footer__rodape {
    color: var(--color-de-link);

}
.texto{
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}

@media screen and (max-width: 400px){
    .texto{
        text-align: center;
        line-height: 1.5;
        font-size: 14px;
    }
    
}