.academic__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-title);
    padding-bottom: 3rem ;
    margin-left: 5rem;
}

@media(max-width:425px){
    .academic__title{
        margin: 0;
    }
}