.experiencie__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3.5rem;

}

@media(max-width:768px){
    .experiencie__box{
        flex-direction: column;
        padding: 1rem 0;
    }
}