section.about {
    padding: 0 5rem;
   
}
.about__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 100%;

}

@media(max-width:768px){
    section.about{
        padding: 0 1rem;
    }
    .about__container{
        width: 100%;

    }
}

@media(max-width:425px){
    section.about{
        padding: 0 1rem;
    }
    .about__container{
        width: 100%;
       
      
        
    }
}