section.about {
    display: flex;
    padding: 0 5rem;
    font-size: 1.2rem;
    width: 70%;
   
}

@media(max-width:768px){
    section.about{
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        width: 95%;
    }
}

@media(max-width:425px){
    section.about{

        align-items: center;
        font-size: 1rem;
        padding:  1rem;
        width: 90%;
    }
}