section.title{
    padding: 1rem 5rem;
}

.title__div {
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {
    section.title{
        padding: 1rem;
    }
    
}
@media(max-width:425px){
    
    
    

}