.title__network {
    display: flex;
    padding: 0;
    margin-top: 1.5rem;
}

@media(max-width:425px){
    .title__network{
        flex-direction: row;
        font-size: 1rem;
        margin-right: .3rem;
       

    }
    .title__network__item{
        text-align: center;
    }
}