
.title__bio{
    font-size:  2rem;

}
.title__subsection{
    font-size: 1.3rem;
    color: var(--color-parrafo);
}

@media(max-width:768px) {
    
    .title__bio{
    font-size: 1.7rem;
    text-align: justify;
    }
    .title__subsection{
        font-size: 1.2rem;
        text-align: justify;
        width: 100%;

    }
   
}
@media(max-width:425px){
        
    .title__bio{
        font-size: 1.3rem;
        text-align: justify;
        width: 90%;


    }
    .title__subsection{
        font-size: 1.1rem;
        text-align: justify;
        width: 90%;



    }
}