section.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: last baseline;
    background-color: var(--color-header);
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    height: 15vh;
} 
.menu__list{
    display: flex;
}

.menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.menu__header h3{
    padding-left: 1rem;
    font-size: 3rem;
}

    
@media (max-width: 768px) {
    section.menu {
        align-items: flex-start;
        height: 8vh;

}
     
    
}
@media (max-width: 425px) {
    section.menu{
        padding: 1.3rem;
    }
    .menu__header{
        display: flex;
        align-items: left;
        padding: 1rem;
    }
    .menu__header h3 {
        font-size: 2rem;
    }
       

}
