.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}
.menu__list__item{
    margin-right: 1.5rem;

}
.menu-toggle{
    display: none;
}
  
  /* Estilos para las barras del botón de hamburguesa */
  .bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 5px auto;
    background-color: #333;
  }
  
    @media (max-width: 768px) {
      .menu__list {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        top: 76%;
        left: -110%;
        width: 100%; /* Ajusta el ancho según tus preferencias */
        background-color:var(--color-header);
        transition: left 0.5s ease;
        opacity: 90%;
        
       }
  
  
      .menu__list.active {
        left: -1%;
        top: 76%;
        width: 100%;
        opacity: 90%;
      }
  
      .menu-toggle {
        display: block;
        /* Mostrar el botón en pantallas pequeñas */
        position: absolute;
        top: 40%;
        left: 10px;
      }
  
      
    .menu__list__item {
      margin-bottom: 10px;
    }
  }
  
