.hobbies__box {
    display: inline-block;
    max-width: min-content;
    text-align: center;
    background-color: white;
    padding-bottom: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
.hobbies__name{
    padding-left: 1.5rem;
    
}