.hobbies__box {
    display: flex;
    width: 16%;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
.hobbies__icon{
  text-align: center;

}
.hobbies__name{
  text-align: center;
    
}

@media (max-width:768px){
  .hobbies__box {
      width: 100%;
      margin-bottom: 1rem;
      justify-content: center;
      align-items: center;
  }
  .skills__icon{
      text-align: center;
  }
}
